
{% extends 'admin2/parts/base.html' %}
    
    {% block components %}{% endblock components %}
    {% block pages %}collapsed{% endblock pages %}
    {% block components-show %}show{% endblock components-show %}
    {% block about-active %}active{% endblock about-active %}
    {% block utilities %}collapsed{% endblock utilities %}

{% block content %}
{% load static %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">About Page</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Slider Card  -->
        <div class="col-xl-3 col-md-6 mb-4" id="slider-selector">
            <div class="card border-left-primary shadow h-100 py-2 selector-shadow" >
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Slider
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ about_slider_images_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Text Card  -->
        <div class="col-xl-3 col-md-6 mb-4" id="header-selector">
            <div class="card border-left-success shadow h-100 py-2 selector-shadow">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Header Text
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ aboutHeaderText_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Company Data Card  -->
        <div class="col-xl-3 col-md-6 mb-4" id="companydata-selector">
            <div class="card border-left-info shadow h-100 py-2 selector-shadow" >
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Company Data
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ company_data_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Vision Card  -->
        <div class="col-xl-3 col-md-6 mb-4" id="vision-selector">
            <div class="card border-left-warning shadow h-100 py-2 selector-shadow" >
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Vision
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vision_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Leadership Card  -->
        <div class="col-xl-3 col-md-6 mb-4" id="leadership-selector">
            <div class="card border-left-primary shadow h-100 py-2 selector-shadow" >
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Leadership
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ leadership_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Slider Row -->

    <div class="row" style="display: none;" id="slider-row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <a style="cursor: pointer;" class="title-header"><h6 class="m-0 font-weight-bold text-primary">Slider</h6></a>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options:</div>
                            <a class="dropdown-item adder" >Add Slider</a>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/aboutsliderimages" target="_blank">Edit Slider</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/aboutsliderimages" target="_blank">Delete Slider</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body table-view" id="slidertable">
                    <div class="table-responsive">
                        <table class="table table-bordered mydataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Slider Image</th>
                                    <th>Date modified</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Slider Image</th>
                                    <th>Date modified</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for slide in about_slider_images %}
                                <tr>
                                    <td> <img src=" {{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/media/{{ slide.sliderImage }}" alt="" style="max-width: 250px;"> </td>
                                    <td>{{ slide.date|date:"d-M-Y"  }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Card Body Add -->
                <div class="card-body area-view" id="addctgarea" style="display: none;">
                    <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 w-100 px-md-2 navbar-search" id='submit-slider-form' method="POST">
                        {% csrf_token %}
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="slider-img-input">Images:</label>
                            </div>
                            <input type="file" class="form-control-file small" style="max-width: 175px;" id="slider-img-input" multiple>
                            <div id="validationServer04Feedback" class="invalid-feedback" style="width: 310px; margin-left: 20px;">
                                
                            </div>
                        </div>
                        <div class="input-group-append input-group-designer">
                            <button class="btn btn-primary submit-btn-designer" type="submit" id="submit-slider-btn">
                                Submit
                            </button>
                            <button class="btn btn-outline-primary submit-btn-designer cancel-category-btn" type="button">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Top Categories</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Category 1
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Category 2
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Category 3
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Header Row -->

    <div class="row" style="display: none;" id="header-row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <a style="cursor: pointer;" class="title-header"><h6 class="m-0 font-weight-bold text-success">Header Text</h6></a>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options:</div>
                            <a class="dropdown-item adder">Add Header Text</a>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/aboutheadertext" target="_blank">Edit Header Text</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/aboutheadertext" target="_blank">Delete Header Text</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body table-view">
                    <div class="table-responsive">
                        <table class="table table-bordered mydataTable" width="100%" cellspacing="0" id="headerdataTable">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Date modified</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Date modified</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for htxt in about_header_text %}
                                <tr>
                                    <td>{{ htxt.title }}</td>
                                    <td>{{ htxt.desc }}</td>
                                    <td>{{ htxt.date|date:"d-M-Y"  }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body area-view" id="addbrndarea" style="display: none;">
                    <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 w-100 px-md-2 navbar-search" id='submit-header-form' method="POST">
                    {% csrf_token %}
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="header-title-input">Title:</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="header-title-input" aria-describedby="basic-addon2" name="header-title">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="header-desc-input">Description:</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="header-desc-input" aria-describedby="basic-addon2" name="header-desc">
                        </div>
                        <div class="input-group-append input-group-designer">
                            <button class="btn btn-primary submit-btn-designer" type="submit" id="submit-brand-btn">
                                Submit
                            </button>
                            <button class="btn btn-outline-primary submit-btn-designer cancel-category-btn" type="button" >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Top Categories</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Category 1
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Category 2
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Category 3
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Data Row -->

    <div class="row" style="display: none;" id="companydata-row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <a style="cursor: pointer;" class="title-header"><h6 class="m-0 font-weight-bold text-info">Company Data</h6></a>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options:</div>
                            <a class="dropdown-item adder">Add Company Data</a>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/companydata" target="_blank">Edit Company Data</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/companydata" target="_blank">Delete Company Data</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body table-view">
                    <div class="table-responsive">
                        <table class="table table-bordered mydataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Title1</th>
                                    <th>Data1</th>
                                    <th>Title2</th>
                                    <th>Data2</th>
                                    <th>Title3</th>
                                    <th>Data3</th>
                                    <th>Title4</th>
                                    <th>Data4</th>
                                    <th>Date modified</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Title1</th>
                                    <th>Data1</th>
                                    <th>Title2</th>
                                    <th>Data2</th>
                                    <th>Title3</th>
                                    <th>Data3</th>
                                    <th>Title4</th>
                                    <th>Data4</th>
                                    <th>Date modified</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for cd in company_data %}
                                <tr>
                                    <td>{{ cd.title_data1 }}</td>
                                    <td>{{ cd.data1 }}</td>
                                    <td>{{ cd.title_data2 }}</td>
                                    <td>{{ cd.data2 }}</td>
                                    <td>{{ cd.title_data3 }}</td>
                                    <td>{{ cd.data3 }}</td>
                                    <td>{{ cd.title_data4 }}</td>
                                    <td>{{ cd.data4 }}</td>
                                    <td>{{ cd.date|date:"d-M-Y"  }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body area-view" id="addbrndarea" style="display: none;">
                    <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 w-100 px-md-2 navbar-search" id='submit-companydata-form' method="POST">
                    {% csrf_token %}
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="title-data1-input">Title For Data 1</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="title-data1-input" aria-describedby="basic-addon2" name="title-data1-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="value-data1-input">Value For Data 1</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="value-data1-input" aria-describedby="basic-addon2" name="value-data1-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="title-data2-input">Title For Data 2</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="title-data2-input" aria-describedby="basic-addon2" name="title-data2-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="value-data2-input">Value For Data 2</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="value-data2-input" aria-describedby="basic-addon2" name="value-data2-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="title-data3-input">Title For Data 3</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="title-data3-input" aria-describedby="basic-addon2" name="title-data3-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="value-data3-input">Value For Data 3</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="value-data3-input" aria-describedby="basic-addon2" name="value-data3-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="title-data4-input">Title For Data 4</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="title-data4-input" aria-describedby="basic-addon2" name="title-data4-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="value-data4-input">Value For Data 4</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="value-data4-input" aria-describedby="basic-addon2" name="value-data4-input">
                        </div>
                        <div class="input-group-append input-group-designer">
                            <button class="btn btn-primary submit-btn-designer" type="submit" id="submit-brand-btn">
                                Submit
                            </button>
                            <button class="btn btn-outline-primary submit-btn-designer cancel-category-btn" type="button" >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Top Categories</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Category 1
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Category 2
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Category 3
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vision Row -->

    <div class="row" style="display: none;" id="vision-row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <a style="cursor: pointer;" class="title-header"><h6 class="m-0 font-weight-bold text-warning">Vision</h6></a>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options:</div>
                            <a class="dropdown-item adder">Add Vision</a>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/vision" target="_blank">Edit Vision</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/vision" target="_blank">Delete Vision</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body table-view">
                    <div class="table-responsive">
                        <table class="table table-bordered mydataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Date modified</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Date modified</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for vi in vision_data %}
                                <tr>
                                    <td> <img src=" {{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/media/{{ vi.visionImage }}" alt="" style="max-width: 250px;"> </td>
                                    <td>{{ vi.vision_desc }}</td>
                                    <td>{{ vi.date|date:"d-M-Y"  }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body area-view" id="addbrndarea" style="display: none;">
                    <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 w-100 px-md-2 navbar-search" id='submit-vision-form' method="POST">
                    {% csrf_token %}
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="vision-img-input">Image:</label>
                            </div>
                            <input type="file" class="form-control-file small" style="max-width: 175px;" id="vision-img-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="vision-desc-input">Description:</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="vision-desc-input" aria-describedby="basic-addon2" name="header-desc">
                        </div>
                        <div class="input-group-append input-group-designer">
                            <button class="btn btn-primary submit-btn-designer" type="submit" id="submit-brand-btn">
                                Submit
                            </button>
                            <button class="btn btn-outline-primary submit-btn-designer cancel-category-btn" type="button" >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Top Categories</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Category 1
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Category 2
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Category 3
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Leadership Row -->

    <div class="row" style="display: none;" id="leadership-row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <a style="cursor: pointer;" class="title-header"><h6 class="m-0 font-weight-bold text-primary">Leadership</h6></a>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options:</div>
                            <a class="dropdown-item adder">Add Leadership</a>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/leadership" target="_blank">Edit Leadership</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-database/about/leadership" target="_blank">Delete Leadership</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body table-view">
                    <div class="table-responsive">
                        <table class="table table-bordered mydataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Description</th>
                                    <th>Social Media</th>
                                    <th>Date modified</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Description</th>
                                    <th>Social Media</th>
                                    <th>Date modified</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for ls in leadership_data %}
                                <tr>
                                    <td> <img src=" {{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/media/{{ ls.leaderImage }} " alt="" style="max-height: 100px;"> </td>
                                    <td>{{ ls.leader_name }}</td>
                                    <td>{{ ls.leader_designation }}</td>
                                    <td>{{ ls.leader_desc }}</td>
                                    <td>{{ ls.leader_social_media }}</td>
                                    <td>{{ ls.date|date:"d-M-Y"  }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body area-view" id="addbrndarea" style="display: none;">
                    <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 w-100 px-md-2 navbar-search" id='submit-leadership-form' method="POST">
                    {% csrf_token %}
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="leadership-img-input">Image:</label>
                            </div>
                            <input type="file" class="form-control-file small" style="max-width: 175px;" id="leadership-img-input" >
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="leadership-name-input">Name:</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="leadership-name-input" aria-describedby="basic-addon2" name="leadership-name-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="leadership-deg-input">Designation:</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="leadership-deg-input" aria-describedby="basic-addon2" name="leadership-deg-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="leadership-desc-input">Description:</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="leadership-desc-input" aria-describedby="basic-addon2" name="leadership-desc-input">
                        </div>
                        <div class="input-group border-separator">
                            <div style="width: 250px;">
                                <label style="float: left;margin-right: 50px;font-weight: 500;color: #333;" for="leadership-social-input">Social Media Link:</label>
                            </div>
                            <input type="text" class="myborder-design form-control small" id="leadership-social-input" aria-describedby="basic-addon2" name="leadership-social-input">
                        </div>
                        <div class="input-group-append input-group-designer">
                            <button class="btn btn-primary submit-btn-designer" type="submit" id="submit-brand-btn">
                                Submit
                            </button>
                            <button class="btn btn-outline-primary submit-btn-designer cancel-category-btn" type="button" >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
                
{% endblock content %}
{% block js %}<script src=" {% static 'admin/js/about.js' %} "></script>{% endblock js %}