{% load static %}
<!-- BEGIN INSTA PHOTOS -->
<div class="insta-photos" style="margin-top: 10px; background-color: white;">
    <a class="insta-photo">
        <img src=" {% static 'asset/user_img/insta-pics/1.jpg' %} " class="js-img" alt="">
        <div class="insta-photo__hover">
            <i class="icon-insta"></i>
        </div>
    </a>
    <a id="family-pic1" class="insta-photo">
        <img src=" {% static 'asset/user_img/insta-pics/2.jpg' %} " class="js-img" alt="">
        <div class="insta-photo__hover">
            <i class="icon-insta"></i>
        </div>
    </a>
    <a id="family-pic2" class="insta-photo">
        <img src=" {% static 'asset/user_img/insta-pics/3.jpg' %} " class="js-img" alt="">
        <div class="insta-photo__hover">
            <i class="icon-insta"></i>
        </div>
    </a>
    <a class="insta-photo">
        <img src=" {% static 'asset/user_img/insta-pics/4.jpg' %} " class="js-img" alt="">
        <div class="insta-photo__hover">
            <i class="icon-insta"></i>
        </div>
    </a>
    <a class="insta-photo">
        <img src=" {% static 'asset/user_img/insta-pics/5.jpg' %} " class="js-img" alt="">
        <div class="insta-photo__hover">
            <i class="icon-insta"></i>
        </div>
    </a>
    <a class="insta-photo">
        <img src=" {% static 'asset/user_img/insta-pics/6.jpg' %} " class="js-img" alt="">
        <div class="insta-photo__hover">
            <i class="icon-insta"></i>
        </div>
    </a>
</div>
<!-- INSTA PHOTOS EOF   -->